.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 1000px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.preloaderWrapper {
    margin: 0 auto;
    width: 1000px;
    height: 700px;
    background-color: #1f2d39;
    position: relative;
}
.preloaderTriangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -60%);
}

.app-wrapper-content {
    grid-area: c;
    background-color: #34495e;
}





