.app-wrapper {
    display: grid;
    margin: 0 auto;
    width: 700px;
    grid-template-areas: "h h" "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.preloaderWrapper {
    margin: 0 auto;
    width: 700px;
    height: 700px;
    background-color: #1a2e53;
    position: relative;
}
.preloaderTriangle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-80%, -60%);
}

.app-wrapper-content {
    grid-area: c;
    color: rgb(230, 210, 125);
    background-color: #1a2e53;
    border-top: 1px solid #41619c;
    border-left: 1px solid #0b1830;
}





